html{
	font-size:62.5%;
}
.Baner
{
	min-height:100vh;
	overflow: hidden;
}
.Baner .carousel
{
	max-height:100vh;
}
.carousel-indicators li:hover{
	cursor:pointer;
}
.carousel-item:first-child .carosel__div--background
{
	filter:brightness(40%)
}
.carosel__div--background
{
	width:100vw;
	max-width:100%;
	height:100vh;
	background-size:cover!important;
	background-repeat: no-repeat!important;
	background-position: center!important;
}
.carousel-item
{
	height:100vh;
}
.carousel-item img
{
/*filter:brightness(90%) contrast(120%) grayscale(20%);*/
	font-family: 'Oswald', sans-serif;
}
.Slogan
{	position: absolute;
	z-index:1;
	top:0;
	width:100%;
	height:100vh;
	display: flex;
	align-items:center;
	justify-content: center;
	flex-direction: column;
}
.MainSlogan {
	
	background: none;
	border: 0;
	box-sizing: border-box;
	padding: 1em 2em;
	position: relative;
	font-size:3.6rem;
	color: white;
	text-shadow:0 2px 6px black;
	z-index:1;
	top:0;
	font-weight: 700;
	vertical-align: middle;
  }
  .SecondSlogan
  {
	margin-top:3vh;
	font-size:3rem;
	color:white;
	text-shadow:0 2px 6px black;
  }
  .MainSlogan::before, .MainSlogan::after {
	box-sizing: inherit;
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
  }
  
  .MainSlogan.active {
	transition: color 1s;
  }
  .MainSlogan::before, .MainSlogan::after {
	border: 6px solid transparent;
	width: 0;
	height: 0;
  }
  .MainSlogan.active::before {
	top: 0;
	left: 0;
  }
  .MainSlogan.active::after {
	bottom: 0;
	right: 0;
  }
  .MainSlogan.active::before, .MainSlogan.active::after {
	width: 100%;
	height: 100%;
  }
  .MainSlogan.active::before {
	border-top-color: white;
	border-right-color: white;
	transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
  }
  .MainSlogan.active::after {
	border-bottom-color: white;
	border-left-color: white;
	transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s, height 0.25s ease-out 0.75s;
	}
	.Motto
	{
		padding:30px;
		font-size:3.6rem;
		margin-bottom:2rem;
	}
	.AboutMe__div--p
	{
		font-size:2rem;
	}
	.AboutMe__div--h3
	{
		font-size:3rem;
		font-family: 'Open Sans', sans-serif;
		font-weight:bold;
	}
	.AboutMe__div--h4
	{
		font-size:2rem;
	}
	.AboutMe__div--img
	{
		max-width: 100%;
		border-radius:50%;
		transform:scale(0.9);
		box-shadow: 0 0 13px black;
	}
	.AboutMe__div
	{
		border-bottom:1px solid #d2b583;
		padding-bottom:30px;
	}
	.AboutMe__div{
		position:relative;
	}
	.Sessions--h2
	{
		text-transform: uppercase;
		font-size:3rem;
		color:white;
		font-family:lato;
		font-weight:bold;
		text-shadow:0 0 4px white;
		padding:30px;
	}
	.Sessions__div__article__header--img
	{
		max-width:100%;
	}
	.Sessions__div__article
	{
		margin:30px;
	}
	.Sessions__div__article__header--p
	{
		font-size:2.5rem;
		border:1px solid rgba(210, 181, 131,0.4);
	    font-family: 'Open Sans', sans-serif;
		box-shadow:0 0 13px rgba(0,0,0,0.4);
		z-index:20;
		padding:30px;
	}
	.Sessions__div__article:hover
	{
		cursor:pointer;
	}
	.Sessions__div__article:hover img
	{
		border-radius:0 0 0 0;
	}
	.Session-top-right--img
	{
		border-radius:20% 0 0 0;
	}
	.Session-top-left--img
	{
		border-radius:0 20% 0 0;
	}
	.Session-bottom-right--img
	{
		border-radius:0 0 0 20%;
	}
	.Session-bottom-left--img
	{
		border-radius:0 0 20% 0;
	}
	.Sessions__div__article img{

		box-shadow:0 0 13px rgba(0,0,0,0.4);
		z-index:10;
		display: block;
		margin:0 auto;
		transition:400ms;
	}
	footer{
		background:#19202a;
		padding:20px;
	}
	.footer--span-author
	{
		font-size:2.34rem;
	}
	.Links
	{
		font-size:4rem;
		display:flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: center;
	}
	.Link--i-mail
	{
		color:#d2b583;
	}
	.Links a
	{
		color:black;
	}
	.Link--i-fb
	{
		color:#4267b2;
	}
	.Links a
	{
		transition: 500ms;
	}
	.Links a:hover{
		transform:scale(1.3);
	}
	.Session_album_div
	{
		margin:0;
		padding:0;
		height:55vh;
	}
	.Session_album--img
	{
		width:100%;
		height:100%;
		position: absolute;
		z-index: -1;
		background-size: cover!important;
		background-position: center!important;
		box-shadow:inset 0 0 6px black;
		filter:contrast(120%) grayscale(40%);
		transition: 250ms;
	}
	.Session_album_div:hover .Session_album--img
	{
		filter:contrast(100%) grayscale(0);
	}
	.Sessions_album_information-date
	{
		opacity: 0;
		padding:5px;
		font-family: lato;
		transition:250ms;
	}
	.Session_album_div:hover .Sessions_album_information-date
	{
		opacity:1;
	}
	.Session-introduction
	{
		height:34vh;
		display:flex;
		align-items: center;
		justify-content: center;
	}
	.Session-introduction::after{
		content:'';
		display:block;
		position: absolute;
		background: url("../img/introduction.jpg");
		width:100%;
		z-index:-1;
		background-size:cover;
		background-position: center;
		box-shadow:0 -3px 13px rgba(0,0,0,0.3);
		filter: brightness(70%) contrast(160%) blur(2px);
		height:34vh;
	}
	.Menu
	{
		font-size:2.4rem;
		font-family: 'Oswald', sans-serif;
		background-color:rgba(0,0,0,0.6);
	}
	Menu__nav--a-logo
	{
		font-size:2.4rem!important;
	}
	.Sessions_album_information
	{
		height:53vh;
		display:flex;
		z-index:20;
		align-items: flex-end;
	}
	.Sessions_album_information-date
	{
		color:white;
		font-size:1.6rem;
		text-shadow:0 3px 6px black;
	}
	.Link--i-user {
		color: rgb(180, 180, 176);
	}
	@media screen and (max-width:715px){
		.MainSlogan
		{
			font-size:2.4rem;
		}
		.SecondSlogan
		{
			font-size:1.98rem;
		}
	}
	@media screen and (max-width:486px){
		.MainSlogan
		{
			font-size:1.48rem;
		}
		.SecondSlogan
		{
			font-size:1.386rem;
		}
		.MainSlogan::before, .MainSlogan::after
		{
			border-width:4px;
		}
	}